/*-- Campos usados en la pestaña log -----------------------------------------*/
.log-tablebody {

}

/*-- Campos usados en la pestaña adicional -----------------------------------*/
.additional-tablebody {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 272px;
	display: block;
	width:inherit;
}

.additional-tables {
	width: inherit;
  display: block;
	margin-top: 10px;
}

.additional-headtable-cell-2 {
	width: 24.5%;
  display: inline-block;
	padding: 0;
	text-align: center
}

.additional-headtable-cell {
	width: 24%;
  display: inline-block;
}

.additional-headtable {
	display: block;
	width: inherit;
}

.additional-panel-body {
	height: 320px;
	padding: 0;
}

.additional-searchInputs {
	width: 100%;
	height: 45px;
}

.additional-fulltable {
	margin: 20px;
	font-size: 16px;
	height: 100%;
}

/*-- Para el boton de busqueda --*/
#language-search-button {
	width: 45px;
	margin-bottom: 1px;
}

#dummy-txt {
	padding-right: 5px;
	display: inline;
}

/*-- Para que el parrafo en el footer se mantenga en la misma linea --*/
#language-lastedit, #platform-lastedit {
	display: inline;
}

/*-- Botones manx ------------------------------------------------------------*/
.btn-manx-nomargin {
	background: #1fad8e;
	color: white;
	height: 45px;
	font-size: 16px;
}

.btn-manx {
	background: #1fad8e;
	margin: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
}

/*-- Alto del panel con las pestañas. --*/
.div-panel-height {
	height: inherit;
}

/*-- Para la forma de agregar/editar preguntas. --*/
.form-back {
	z-index: 10;
	background-color: gray;
	opacity: 0.5;
	left: 0;
	top: 0;
	height: 2000px;
	width: 2000px;
    position: fixed;
}

.btn-manx-form {
	background: #1fad8e;
	padding: 10px;
	color: white;
	font-size: 16px;
}

p {
	margin-top: 3px;
	margin-bottom: 3px;
}

.fill-space {
	width: 100%;
}

.small-form {
	width: 200px;
    z-index: 20;
    margin-left: 40%;
    position: fixed;
    opacity: 1.0;
    margin-top: 15px;
}

.panel-default > .manx-panel-heading {
	background-image: none;
    background-color: #1fad8e;
    color: white;
    text-align: center;
}

/*----*/

#div-windows, html {
	height: 100%;
}

#y{
	width: 100%;
	height: 95%;
}

.body-news {
	padding: 25px;
	height: 100%;
}

.btn-manx:active {
	color: white;
	background: red;
}

.btn-manx:hover {
    color: white;
    background-color: #168068;
    border-color: #105c4b;
}

.div-items {
	margin: 15px;
	height: 100%;
}

.div-section {
	width: 100%;
	height: 470px;
}

.badge-items {
	margin-left: 10px;
}
